DISCORD_TOKEN=YOUR_DISCORD_BOT_TOKEN_HERE
GUILD_ID=YOUR_DISCORD_SERVER_ID_HERE

GITHUB_TOKEN=YOUR_GITHUB_TOKEN_HERE
OPENROUTER_API_KEY=YOUR_OPENROUTER_API_KEY_HERE
SUPABASE_URL=https://your-project-ref.supabase.co
SUPABASE_KEY=your-service-role-key-here
SUPABASE_RPC_MATCH_FN=match_entities_for_team
SUPABASE_RPC_MATCH_CHUNKS_FN=match_internal_chunks_for_team
GEMINI_API_KEY=YOUR_GEMINI_API_KEY

SCRAPER_SECRET=your_secret_here

NOTION_TOKEN=
